@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
}
body{
    width: 100%;
    background-color:#FFF;
}
.pagetop{
    align-items: center;
    justify-content: center;
    
}
.lead{
    font-size: 17px;
    padding-top: 8px;
}
.bg-base{
    background-color:#FFDEDE;
}
.button{
    padding:0 45% 0 45%;   
}
.btn1:hover,.btn1:focus{ 
    border: brown solid 2px;
}
.btn1{
    border: brown solid 2px;
    background-color: #FFF;
}
.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 80px;
}
 .nav-link.active:hover{
    color:rgb(210, 36, 9);
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.icon-box{
    align-items: center;
    justify-content: center;
    font-size:32px;
    display: flex;
    background-color: rgb(210, 36, 9);
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: beige;
}
@media( max-width:1200px){
   .button{
    padding-right:35%;
    padding-left:45% ;
   }
}